div(style = "margin-left: 300px;padding-top: 100px")
    form(action="/createaccount", method="POST")
        label User
        br
        input(type="text", name= "username") 
        br
        label Password
        br
        input(type="text",name ="pass") 
        br
        br
        button Create Account
